/*  ViewAdmin */
.textesport img{
    width: 100%;
    height: 60%;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

h1{
    text-align: center;
}

p{
    color: grey;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5%;
}

img{
    width: 200px;
    height: 160px;
}

.form-group{
    padding-left: 20%;
}

.form-actions{
    padding-left: 20%;
    padding-top: 10%;
}

/*SportsView*/
form{
    padding-top: 5em;
    padding-left: 10%;
}

.form{
    margin-top: 5em;
}

/*  Equipment  */
.equipment{
    margin-right: 3em;
}

.equipment p {
    text-align: center;
}

.list{
    display: flex;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
}

.list img{
    width: 150px;
    height: 150px;
}

/*  Terrain  */
.terrain{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-wrap: wrap;
}

.terrain img{
    width: 20em;
    height: 15em;
}

.terrain p{
    text-align: center;
}

.card{
    padding-right: 1em;
}

/*AddSport*/
.formAddSport{
    padding-left: 20%;
}


